<%- include('partials/head.ejs') %>

<section style="background-color: #f9f9f9">
  <div class="container-fluid">
    <div class="row">
      <!-- Navbar -->
      <div
        class="navbar col-2 d-flex flex-column"
        style="background-color: #ffff"
      >
        <div class="container">
          <a href="" class="navbar-brand mt-3 mb-4">
            <img src="/img/no-bg.png" alt="" class="img-fluid" />
          </a>

          <div class="navbar-nav">
            <a
              class="nav-link my-2 text-secondary-emphasis"
              aria-current="page"
              href="#"
            >
              <i class="fa-solid fa-house"></i> Home</a
            >
            <a class="nav-link my-2 text-secondary-emphasis" href="#"
              ><i class="fa-solid fa-wallet"></i> Balance</a
            >
            <a class="nav-link my-2 text-secondary-emphasis" href="#"
              ><i class="fa-solid fa-arrow-right-arrow-left"></i> Transaction</a
            >
            <a class="nav-link my-2 text-secondary" href="#"
              ><i class="fa-solid fa-gear"></i> Settings</a
            >
            <a class="nav-link my-2 text-secondary" href="#"
              ><i class="fa-solid fa-circle-info"></i> About Us</a
            >
          </div>
        </div>
      </div>
      <!-- End of Navbar -->

      <div class="col-10 mb-4">
        <div class="col-12 d-flex justify-content-end py-2 align-items-center">
          <img
            src="/img/default.png"
            alt="profile pic"
            class="rounded-5"
            style="height: 35px; width: 35px"
          />
          <h6 class="px-2" style="margin: 0"><%= %></h6>
        </div>
        <h2 class="my-3">Dashboard</h2>

        <!-- Cards -->
        <div class="row g-1">
          <!-- First card -->
          <div class="col-3 card text-bg-primary p-3 rounded-4 mx-4">
            <div class="card-subtitle" style="font-size: x-small">
              My Balance
            </div>
            <div class="card-title px-3"><h2>$0</h2></div>
            <div class="row mx-3" style="font-size: 0.7rem">
              <div class="col-6">
                <div style="color: #b9b9ef">Card Holder</div>
                <div>Fahchouch Mohammed</div>
              </div>
              <div class="col-6">
                <div style="color: #b9b9ef">Valid Thru</div>
                <div>00/00</div>
              </div>
            </div>
          </div>
          <!-- Second Card -->
          <div
            class="col card rounded-4 mx-4 d-flex justify-content-center align-items-center"
          >
            <div class="row d-flex align-items-center justify-content-center">
              <div class="col-4">
                <i class="fa-solid fa-coins" style="font-size: 2rem"></i>
              </div>
              <div class="col-8">
                Income
                <h2>$0</h2>
              </div>
            </div>
          </div>
          <!-- Third card -->
          <div
            class="col card rounded-4 mx-4 d-flex justify-content-center align-items-center"
          >
            <div class="row d-flex align-items-center justify-content-center">
              <div class="col-4">
                <i
                  class="fa-solid fa-money-bill-transfer"
                  style="font-size: 2rem"
                ></i>
              </div>
              <div class="col-8">
                Expense
                <h2>$0</h2>
              </div>
            </div>
          </div>
        </div>
        <!-- End Cards -->
        <!-- Lastest transaction -->
        <div class="row g-1">
          <div class="col-6 card rounded-4 mt-4 mx-4 p-0">
            <div class="card-header">Lastest Transaction</div>
            <div class="overflow-auto" style="height: 19rem">
              <!-- List gourp items -->
              <ul class="list-group list-group-flush">
                <!-- List items -->
                <div class="list-group-item">
                  <div class="row">
                    <div
                      class="col-2 d-flex align-items-center justify-content-center p-0"
                    >
                      <i class="fa-solid fa-circle-down text-danger fs-4"></i>
                    </div>
                    <div
                      class="col-3 d-flex align-items-center justify-content-center p-0"
                    >
                      <div
                        class="d-inline-block text-truncate"
                        style="font-size: medium"
                      >
                        Mohammed Hamid
                      </div>
                    </div>
                    <div
                      class="col-3 d-flex align-items-center justify-content-center p-0"
                    >
                      $100
                    </div>
                  </div>
                </div>
                <!-- ? -->
                <div class="list-group-item">
                  <div class="row">
                    <div
                      class="col-2 d-flex align-items-center justify-content-center p-0"
                    >
                      <i
                        class="fa-solid fa-circle-up text-success text-success fs-4"
                      ></i>
                    </div>
                    <div
                      class="col-3 d-flex align-items-center justify-content-center p-0"
                    >
                      <div
                        class="d-inline-block text-truncate"
                        style="font-size: medium"
                      >
                        Mohammed Hamid
                      </div>
                    </div>
                    <div
                      class="col-3 d-flex align-items-center justify-content-center p-0"
                    >
                      $100
                    </div>
                  </div>
                </div>
                <!-- ? -->

                <!-- End list items -->
              </ul>
            </div>
          </div>
          <!-- End lastest transaction -->

          <!-- Td list -->
          <div class="card col rounded-4 mt-4 p-0 me-4">
            <div class="card-header">Todo list</div>
            <div class="overflow-auto" style="height: 15rem">
              <!-- List group items -->
              <ul class="list-group list-group-flush">
                <!-- List items -->
                <li class="list-group-item">
                  <form action="">
                    <input
                      type="checkbox"
                      name=""
                      id=""
                      class="form-check-input"
                    />
                    hello
                  </form>
                </li>
                <!-- ? -->
                <li class="list-group-item">
                  <form action="">
                    <input
                      type="checkbox"
                      name=""
                      id=""
                      class="form-check-input"
                    />
                    hello
                  </form>
                </li>
                <!-- ? -->
              </ul>
            </div>
            <!-- Text input -->
            <div class="card-footer mt-auto">
              <div class="row">
                <div class="col p-0 ms-2">
                  <input type="text" name="" id="" class="form-control" />
                </div>
                <div class="col-3 m-0 pl-4 d-flex justify-content-end">
                  <button type="button" class="btn btn-outline-dark">
                    Light
                  </button>
                </div>
              </div>
            </div>
            <!-- End text input -->
          </div>

          <!-- End td list -->
        </div>
        <!-- !In the col-10 -->
      </div>
    </div>
  </div>
  <!-- CHOUFOUNIIIII -->
</section>

<%- include('partials/footer.ejs') %>
