<%- include('partials/head.ejs') %>

<section class="vh-100 d-flex align-items-center">
  <div class="container mx-md-5 px-md-5">
    <div class="row justify-content-center mx-5 px-5">
      <div class="col-12 text-center">
        <img src="/img/no-bg.png" alt="BTSbank logo" />
      </div>

      <div class="col-sm-7 mt-5">
        <form method="post">
          <label for="emaill">Email adresse:</label>
          <input
            type="email"
            name="email"
            id="emaill"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter your email.</div>

          <label for="passwordl">Password:</label>
          <input
            type="password"
            name="password"
            id="passwordl"
            class="form-control"
            required
          />

          <button
            type="submit"
            class="btn btn-primary form-control my-3 btn-md"
          >
            Login
          </button>

          <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer.ejs') %>
